@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@200&family=Roboto+Condensed&display=swap");

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  padding: 25px 10px;
}
